@import "tailwindcss";

/* Instrument Sans Regular */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Instrument Sans Italic */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Instrument Sans Medium */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Instrument Sans Medium Italic */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* Instrument Sans SemiBold */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Instrument Sans SemiBold Italic */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/* Instrument Sans Bold */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Instrument Sans Bold Italic */
@font-face {
  font-family: 'Instrument Sans';
  src: url('/font/InstrumentSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-deepblue: #2a3c4a;
  --color-gold: #f8dd6b;
  /* Optionally, set a custom property for the font */
  --font-sans: 'Instrument Sans', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Instrument Sans', Arial, Helvetica, sans-serif;
}
